{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'wrapped/base_generic.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <a href="/" class="logo">SpotifyWrapped</a>
            <ul class="nav-links">
                <li><a href="{% url 'about' %}">About</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'settings' %}">Settings</a></li>
                    <form action="{% url 'logout' %}" method="post" class="logout-form">
                        {% csrf_token %}
                        <button type="submit" class="logout-btn">Logout</button>
                    </form>
                {% else %}

                {% endif %}
            </ul>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    {% block footer %}
    <footer>
        <p>© 2024 Spotify Wrapped</p>
    </footer>
    {% endblock %}
</body>
</html>
