{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Dein Spotify Wrapped</title>
    <link rel="stylesheet" href="{% static 'wrapped/wrapper.css' %}">
</head>
<body class="{{ view_mode }}">
    <header>
        <div class="container">
            <a href="/" class="logo">SpotifyWrapped</a>
            <ul class="nav-links">
                <li><a href="{% url 'about' %}">Über Uns</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'settings' %}">Einstellungen</a></li>
                    <form action="{% url 'logout' %}" method="post" class="logout-form">
                        {% csrf_token %}
                        <button type="submit" class="logout-btn">Abmelden</button>
                    </form>
                {% else %}
                    <li><a href="{% url 'login' %}">Anmelden</a></li>
                    <li><a href="{% url 'register' %}">Registrieren</a></li>
                    <li><a href="{% url 'settings' %}">Einstellungen</a></li>
                {% endif %}
            </ul>
        </div>
    </header>
    
    <div class="{{ view_mode }}">
        <div class="slide-container" id="slideContainer">
            <div class="slide" id="slide1">
                <h1>Willkommen zu Deinem Spotify Wrapped <br> Zeitraum: {{ time_frame|title }}</h1>
            </div>
    
            <div class="slide" id="slide2">
                <h1>Deine Top-Titel <br> (Zeitraum: {{ time_frame }})</h1>
                <div class="tracks-container">
                    {% for track in top_tracks %}
                    <div class="track-item">
                        <img src="{{ track.album.images.0.url }}" alt="Albumcover von {{ track.name }}" class="album-cover">
                        <div class="track-info">
                            <h2>{{ track.name }}</h2>
                            <p>von {{ track.artists.0.name }}</p>
                            <p>Album: {{ track.album.name }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
    
            <div class="slide" id="slide3">
                <h1>Deine Top-Künstler</h1>
                <div class="artists-container">
                    {% for artist in top_artists %}
                    <div class="artist-card">
                        <img src="{{ artist.images.0.url }}" alt="{{ artist.name }}" class="artist-image">
                        <div class="artist-info">
                            <h2>{{ artist.name }}</h2>
                            <p>Follower: {{ artist.followers.total }}</p>
                            <p>Genres: {{ artist.genres|join:", " }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
    
            <div class="slide" id="slide4">
                <h1>Deine Lieblingsgenres</h1>
                <div class="genres-container">
                    {% for genre in favorite_genres %}
                    <div class="genre-item">
                        <h2>{{ genre }}</h2>
                    </div>
                    {% endfor %}
                </div>
            </div>
    
            <div class="slide" id="slide5">
                <h1>Deine Stimmungs-Playlists</h1>
                <div class="mood-playlists-container">
                    <!-- Chill Vibes Section -->
                    <div class="card chill-card">
                        <h3>🌞 Entspannte Vibes</h3>
                        <div class="playlist-grid">
                            {% for track in mood_playlists.chill_vibes %}
                                <div class="playlist-item">
                                    <img src="{{ track.album.images.0.url }}" alt="Albumcover von {{ track.name }}" class="album-art">
                                    <p>{{ track.name }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
    
                    <!-- Workout Hits Section -->
                    <div class="card workout-card">
                        <h3>💪 Workout-Hits</h3>
                        <div class="playlist-grid">
                            {% for track in mood_playlists.workout_hits %}
                                <div class="playlist-item">
                                    <img src="{{ track.album.images.0.url }}" alt="Albumcover von {{ track.name }}" class="album-art">
                                    <p>{{ track.name }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
    
                    <!-- Study Tunes Section -->
                    <div class="card study-card">
                        <h3>📚 Lernmusik</h3>
                        <div class="playlist-grid">
                            {% for track in mood_playlists.study_tunes %}
                                <div class="playlist-item">
                                    <img src="{{ track.album.images.0.url }}" alt="Albumcover von {{ track.name }}" class="album-art">
                                    <p>{{ track.name }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="slide" id="slide6">
                <h1>Deine Top-Alben</h1>
                <div class="albums-container">
                    {% for album in top_albums %}
                    <div class="album-card">
                        <img src="{{ album.image_url }}" alt="{{ album.name }}" class="album-cover">
                        <div class="album-info">
                            <h2>{{ album.name }}</h2>
                            <p>Künstler: {{ album.artist }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
    
            <div class="slide" id="slide7">
                <h2>Deine längsten Songserien</h2>
                <div class="card">
                    <ul>
                        {% for track in longest_streaks %}
                            <li style="list-style-type: none; margin: 10px 0;">{{ track.name }} - {{ track.streak }} Mal hintereinander gespielt</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
    
            {{ listening_patterns|json_script:"listening-patterns-data" }}
            {{ genre_breakdown|json_script:"genre-breakdown-data" }}
            <div class="slide" id="slide8">
                <h1>Deine Genres!</h1>
                <div class="graphs-container">
                    <div class="chart-container">
                        <h2 class="chart-title">Genres-Verteilung</h2>
                        <div class="chart-wrapper">
                            <canvas id="genreChart"></canvas>
                        </div>
                        <p class="chart-description">Verteilung der Genres Deiner Top-Künstler.</p>
                    </div>
                </div>
            </div>
    
            <div class="slide" id="slide9">
                <h1>Deine meistgehörten Zeiten</h1>
                <div class="chart-container">
                    <h2 class="chart-title">Hörgewohnheiten</h2>
                    <div class="chart-wrapper">
                        <canvas id="timeOfDayChart"></canvas>
                    </div>
                    <p class="chart-description">Wann Du am meisten Musik hörst.</p>
                </div>
            </div>
    
            <div class="slide" id="slide10">
                <h1>Deine Hörstatistiken</h1>
                <div class="listening-stats-container">
                    <div class="stats-card">
                        <p>Du hast</p>
                        <h2>{{ total_songs_played }}</h2>
                        <p>Songs in diesem Zeitraum gespielt.</p>
                    </div>
                    <div class="stats-card">
                        <p>Aus</p>
                        <h2>{{ total_genres_played }}</h2>
                        <p>Genres.</p>
                    </div>
                    <div class="stats-card">
                        <p>Insgesamt hast Du</p>
                        <h2>{{ total_duration_minutes }}</h2>
                        <p>Minuten gehört.</p>
                    </div>
                </div>
            </div>
    
            <div class="slide" id="slide11">
                <h1>Speichere Dein Spotify Wrapped</h1>
                <div class="save-wrap">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <input type="hidden" name="time_frame" value="{{ time_frame }}">
                        <button type="submit" name="save_wrap" class="btn btn-primary">Speichere Wrapped</button>
                    </form>
                </div>
            </div>
        </div>
    
        <div class="controls">
            <button onclick="prevSlide()">Zurück</button>
            <button onclick="nextSlide()">Weiter</button>
        </div>
    
    </div>
</body>

<script>

    document.addEventListener('DOMContentLoaded', () => {
    const slides = document.querySelectorAll('.slide'); // Select all slides
    const slideContainer = document.getElementById('slideContainer');

    // Dynamically calculate total slides and adjust the width of the container
    const totalSlides = slides.length;
    slideContainer.style.width = `${totalSlides * 100}vw`;

    let currentSlide = 0; // Track the current slide

    function showSlide(slideNumber) {
        // Prevent navigation beyond the first or last slide
        if (slideNumber < 0) slideNumber = 0;
        if (slideNumber >= totalSlides) slideNumber = totalSlides - 1;

        // Calculate the offset and move the slide container
        slideContainer.style.transform = `translateX(-${slideNumber * 100}vw)`;
        currentSlide = slideNumber;
    }

    // Navigation buttons
    document.querySelector('.controls button:nth-child(1)').onclick = () => showSlide(currentSlide - 1);
    document.querySelector('.controls button:nth-child(2)').onclick = () => showSlide(currentSlide + 1);

    // Initialize the first slide
    showSlide(currentSlide);


    const listeningPatterns = JSON.parse(document.getElementById('listening-patterns-data').textContent);
    const genreBreakdown = JSON.parse(document.getElementById('genre-breakdown-data').textContent);

    console.log("listeningpatterns", listeningPatterns); // Check if data is passed correctly
    console.log("Genre Breakdown:", genreBreakdown);        // Debugging


    const genreCtx = document.getElementById('genreChart').getContext('2d');
    new Chart(genreCtx, {
        type: 'doughnut',
        data: {
            labels: Object.keys(genreBreakdown),
            datasets: [{
                label: 'Genres',
                data: Object.values(genreBreakdown),
                backgroundColor: ['#1DB954', '#FF5722', '#FFC107', '#03A9F4', '#E91E63'],
                borderWidth: 1
            }]
        },
        options: {
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: true,
                    position: 'bottom',
                    labels: {
                        color: 'white'
                    }
                }
            }
        }
    });

    // Time of Day Listening Chart
    const timeOfDayCtx = document.getElementById('timeOfDayChart').getContext('2d');
    new Chart(timeOfDayCtx, {
        type: 'bar',
        data: {
            labels: Object.keys(listeningPatterns.time_of_day),
            datasets: [{
                label: 'Listening Time (%)',
                data: Object.values(listeningPatterns.time_of_day),
                backgroundColor: '#1DB954',
                borderWidth: 1
            }]
        },
        options: {
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false
                }
            },
            scales: {
                x: {
                    ticks: {
                        color: 'white'
                    }
                },
                y: {
                    ticks: {
                        color: 'white'
                    }
                }
            }
        }
    });})

</script>